[project]
	description = Virtualbox image generator for 3rd party dependency management.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Quentin Fiard (QuentinFiard)
[access "refs/for/refs/*"]
	read = group user/Quentin Fiard (QuentinFiard)
	push = group user/Quentin Fiard (QuentinFiard)
	label-Code-Review = -2..+2 group user/Quentin Fiard (QuentinFiard)
	label-Verified = -1..+1 group user/Quentin Fiard (QuentinFiard)
	rebase = group user/Quentin Fiard (QuentinFiard)
	removeReviewer = group user/Quentin Fiard (QuentinFiard)
	submit = group user/Quentin Fiard (QuentinFiard)
[access "refs/heads/*"]
	read = group user/Quentin Fiard (QuentinFiard)
	create = group user/Quentin Fiard (QuentinFiard)
	push = +force group user/Quentin Fiard (QuentinFiard)
	pushMerge = group user/Quentin Fiard (QuentinFiard)
[access "refs/tags/*"]
	push = +force group user/Quentin Fiard (QuentinFiard)
	pushTag = group user/Quentin Fiard (QuentinFiard)
	pushSignedTag = group user/Quentin Fiard (QuentinFiard)
